# Flutter / Dart / Android gitignore
build/
.dart_tool/
.packages
.pub-cache/
.pub/

# Android build artifacts & local properties
android/.gradle/
android/local.properties
android/app/build/
android/.idea/
*.keystore

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# IDE
# Build artifacts and APKs
build_artifacts/
*.apk
mobile_test/*.apk
